@use '/src/styles/base/variables' as v;
@use '/src/styles/base/mixins' as m;

.about {
    margin-top: 5rem;

    @include m.tablet {
        margin-top: 10;
    }

    @include m.desktop {
        margin-top: 0;
    }

    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6rem;
        margin-top: 5rem;
        
        @include m.desktop {
            flex-direction: row;          
        }

    }
    &__image {
        max-width: 30rem;
        transition: all 1s ease-in-out;
        opacity: 0;
        filter: blur(5px);

        @include m.tablet {
            transform: translateX(-100%);
            max-width: 35rem;
        }

    }
    &__images {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &__icon {
        max-width: 8rem;
        margin-top: 2rem;
    }

    &__title {
       margin: 0;
    }

    &__text {
        padding: 0 3rem;

        @include m.tablet {
            padding: 3rem;
        }
    }

}


.show {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}
