// Fuentes
$fuentePrincipal: 'Lato', sans-serif;
$fuenteSecundaria: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 320px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1680px;

// Colores
$primario: #fd6e49;
$secundario: #233833;
$blanco: #FFFFFF;
$grisOscuro: #777777;
$grisClaro: #9b9b9b;